language: python

notifications:
  email: false

python:
  - "3.6"
  - "3.5"
  - "3.4"
  - "3.3"

notifications:
  email: false

before_install:
  - pip install pep8
  - pip install flake8
  - pip install pytest
  - sudo apt-get install python-logilab-common

before_script:
  - "flake8 --show-source --ignore=F811,W293,W391,W292 --max-line-length=79"

script:
  - pytest --doctest-modules -v
